@charset "UTF-8";

/* 全体 */
html{
  font-family: sans-serif;
}
html *{
  box-sizing: border-box;
}
body{
  background-color:#eeece9;
}
.wrapper{
  background-color:white;
  border-radius:20px;
  margin:0 400px 0 350px;
}
.header{
  margin:0 0 0 30px;
}

/* リスト */
ul {
  border:1px solid #52bcd1;
  color:#28b5d1;
  margin:0 30px 60px 30px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
.content{
  margin:50px 30px 0 30px;
  border:1px solid #52bcd1;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  text-align:center;
}

/* タイトル */
.title{
  margin:50px 0 0 0;
  padding:50px 0 0 0;
  font-size:30px;
}
.update_date{
  font-size:13px;
  display:inline;
}
.conclusion{
  border-bottom:1px solid silver;
}

/* ヘッダー */
ul :link{
  color:#28b5d1;
}
ul :visited{
  color:#28b5d1;
}
ul :hover{
  color:#3d6ddb;
}
ul :active{
  color:#3d6ddb;
}

/* メイン */
.title_image{
  background-color:#dff6f7;
  margin:50px 0 15px 30px;
  font-size:25px;
  padding-left:20px;
}
.explanation{
  margin-left:30px;
  font-size:17px;
}
.main {
  border:1px solid #52bcd1;
  background-color:#dff6f7;
  margin:10px 10px 0 30px;
  font-size:17px;
  line-height:2;
  border-radius:10px;
  padding-left:20px;
}

/* フッター */
.footer{
  margin-left:40px;
}
